@use '../../styles/partials/global';
@use '../../styles/partials/typography';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors';

.upload {
    padding: 0rem 1rem 1rem 1rem;
    border-top: 1px solid colors.$primary-silver;
    @include tablet {
        padding:  2rem 2rem 2.25rem 2rem;
       }
       @include desktop {
        padding: 1.5rem 7.875rem 3rem 7.875rem;
    }
    &__title {
        font-size: 2rem;
        line-height: 2rem;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            margin-top: 0;
            padding-bottom: 2rem;
            border-bottom: 1px solid colors.$primary-silver;
        }

    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
        &-top{
            display: flex;
            flex-direction: column;
        }
        &-right{
            display: flex;
            flex-direction: column;
            @include desktop {
                margin-left: 1rem;
                width: 100%;
            }
        }
    }
    &__titlebox {
        min-height: 2.25rem;
        width: 100%;
        margin-top: .25rem;
        padding: .75rem;
        border-radius: .25rem;
        border: 1px solid colors.$secondary-mercury;
        background-color: colors.$secondary-alabaster;
        margin-bottom: 1rem;
        @include tablet {
            padding: 1rem;
            width: auto;
        }
    }
    &__descriptionbox {
        min-height: 8rem;
        max-height: auto;
        width: 100%;
        margin-top: .25rem;
        padding: .75rem;
        border-radius: .25rem;
        color: colors.$primary-black;
        border: 1px solid colors.$secondary-mercury;
        background-color: colors.$secondary-alabaster;
        text-align: start;
        margin-bottom: 1rem;
        @include tablet {
            padding: 1rem;
            width: 100%;
        }
    }
    &__box-description {
        color: colors.$primary-silver;
        font-weight: 600;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: center; 
            justify-content: flex-end;
            border-top: 1px solid colors.$secondary-mercury;
            padding-top:1rem;
        }
    }
    &__button {
        border-radius: .25rem;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        background-color: colors.$primary-blue;
        color: colors.$primary-white;
        border-color: colors.$primary-blue;
        padding: 1rem 0rem;
        height: 3rem;
        background-image: url("../../assets/Icons/publish.svg");
        background-size: 2rem;
        background-position-y: 0.5rem;
        background-position-x: 0.25rem;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
        text-align: center;
        @include tablet {
            font-size: 12px;  
            width: 20vw;
            margin-left: 1rem;
            margin-bottom: 0rem;
        }
        &--tablet {
            display: none;
            @include tablet{
                display: flex;
                border: none;
                background-color: colors.$primary-white;
                font-weight: 500;
                font-size: 1rem;
                color: colors.$primary-blue;
                margin-right: 5rem;
            }
        }
        &--cancel {
            border: none;
            background-color: colors.$primary-white;
            font-weight: 500;
            font-size: 1rem;
            color: colors.$primary-blue;
            @include tablet {
                display: none;
            }

        }

    }
    &__photo {
        width: 50vw;
        padding: 1rem 0rem;
        border-radius: .25rem;
        @include desktop {
            width: 20vw;
        }
    }

}
